.parent{
    overflow: hidden;
}
.row-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
margin: 20px 50px 50px 50px;
}

.row-column a {
    text-decoration: none;
    color: rgb(8, 44, 10);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(210, 177, 13);
    text-align: center;
    border-radius: 10px;

}
.row-column a .card{
    background-color: rgb(210, 177, 13);
 border-radius: 10px;
}
.name-bank{
    vertical-align: middle;
}
.navbar-collapse{
    margin-left: 1000px;
}
.welcome-user{
    mix-blend-mode: multiply;

}
.div-welcome-user{
}